.PlayerLeftWrapper{
    transform: rotate(270deg);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    margin: 0px auto 50px;
    height: 100px; max-height: 100px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}