.PlayerLeftWrapper{
    position: fixed; 
    left: -180px; top: 70%; bottom: 0;
    margin: auto 0;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    transform: translateY(-50%) rotate(270deg);
}