.PlayerRightWrapper{
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    top: 40px;
    width: 100px;
    margin: 0px auto 50px;
    height: 100px; max-height: 100px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}