.PlayerRightWrapper{
    position: fixed;
    right: -120px; top: 0; bottom: 368px;
    margin: auto 0;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    transform: translateY(50%) rotate(90deg);
}