/*--------below is the playing card css--------*/
/*https://github.com/selfthinker/CSS-Playing-Cards*/
.playingCards{
    /*margin: 100px 4% 0px; THIS IS THE REGULAR MARGIN, I USED MEDIA QUERIES AT THE BOTTOM*/
    width: 100%;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: inline-block;
}

/* Comprehensive styles for checkbox inputs */
.playingCards .card-checkbox {
    /*width: 180px !important;
    height: 250px !important; THIS IS THE REGULAR WIDTH AND HEIGHT, I USED MEDIA QUERIES AT THE BOTTOM*/ 
    background-color: transparent !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-origin: padding-box !important;
    background-clip: padding-box !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    border: 2px solid #5658A2 !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
    bottom: 0 !important;
    transition: all 0.25s ease !important;
    box-shadow: 0 5px 10px #333 !important;
}

/* Checkbox checked state - visual feedback for selection */
.playingCards .card-checkbox:checked {
    border: 3px solid #49A186 !important;
    bottom: 30px !important;
    transform: scale(1.05) !important;
    box-shadow: 0 8px 15px #333 !important;
    z-index: 2;
}

/* Checkbox hover state */
.playingCards .card-checkbox:hover {
    bottom: 30px !important;
    border: 3px solid #CD2C7F !important;
    z-index: 3 !important;
}

.playingCards img.card{
    width: 70px; height: 100px;
    padding: 0;
    border-radius: .3em;
}

.playingCards a.card:hover{
    z-index: 3;
}
/* selected and hover state */
.playingCards img.card:hover, .playingCards img.card:active, .playingCards img.card:focus,
.playingCards label.card:hover,
.playingCards strong .card {
    bottom: 20px;
    border: 2px solid #ff45ca;
}
.playingCards label.card {
    cursor: pointer;
}

.playingCards .card.back {
    text-indent: -4000px;
    background-color: #ccc;
}



/*the rest below is table, hand, and deck layout*/
.playingCards ul.table,
.playingCards ul.hand,
.playingCards ul.deck {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.5em 0;
    position: relative;
    clear: both;
}
.playingCards ul.hand {
    margin-bottom: 2em;
    text-align: center;
}
.playingCards ul.table li,
.playingCards ul.hand li,
.playingCards ul.deck li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

.playingCards ul.hand,
.playingCards ul.deck {
    height: 1em;
}
.playingCards ul.hand li,
.playingCards ul.deck li {
    position: absolute;
}
.playingCards ul.hand li {
    bottom: 0;
}
.playingCards ul.hand li:nth-child(1)  { left: 0; }
.playingCards ul.hand li:nth-child(2)  { left: 5em; }
.playingCards ul.hand li:nth-child(3)  { left: 10em; }
.playingCards ul.hand li:nth-child(4)  { left: 15em; }
.playingCards ul.hand li:nth-child(5)  { left: 20em; }
.playingCards ul.hand li:nth-child(6)  { left: 25em; }
.playingCards ul.hand li:nth-child(7)  { left: 30em; }
.playingCards ul.hand li:nth-child(8)  { left: 35em; }
.playingCards ul.hand li:nth-child(9)  { left: 40em; }
.playingCards ul.hand li:nth-child(10) { left: 45em; }
.playingCards ul.hand li:nth-child(11) { left: 50em; }



@media (min-width: 1000px) {
    .playingCards{margin: 250px 0px 0 40px;}
    .playingCards .card-checkbox {
        width: 180px !important;
        height: 250px !important;
    }
}
@media (min-width: 1600px) {
    .playingCards{margin: 300px 0px 0px 30px;}
    .playingCards .card-checkbox {
        width: 215px !important;
        height: 300px !important;
    }
}