/*--------below is the playing card css--------*/
/*https://github.com/selfthinker/CSS-Playing-Cards*/
.playingCards{
    margin: 60px auto;
    width: 650px;
    background: none;
    /*border: 2px solid greenyellow; just for testing*/
    padding: 0;
    cursor: pointer;
    display: inline-block;
}

/* Comprehensive styles for checkbox inputs */
.playingCards .card-checkbox {
    width: 180px !important;
    height: 250px !important;
    background-color: transparent !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-origin: padding-box !important;
    background-clip: padding-box !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    border: 2px solid #666 !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
    bottom: 0 !important;
    transition: all 0.25s ease !important;
    box-shadow: 0 5px 10px #333 !important;
}

/* Checkbox checked state - visual feedback for selection */
.playingCards .card-checkbox:checked {
    border: 3px solid #ff45ca !important;
    bottom: 20px !important;
    transform: scale(1.05) !important;
    box-shadow: 0 8px 15px #333 !important;
}

/* Checkbox hover state */
.playingCards .card-checkbox:hover {
    bottom: 20px !important;
    border: 3px solid #7dff45 !important;
    z-index: 3 !important;
}

.playingCards img.card{
    width: 70px; height: 100px;
    padding: 0;
    border-radius: .3em;
}

.playingCards a.card:hover{
    z-index: 3;
}
/* selected and hover state */
.playingCards img.card:hover, .playingCards img.card:active, .playingCards img.card:focus,
.playingCards label.card:hover,
.playingCards strong .card {
    bottom: 20px;
    border: 2px solid #ff45ca;
}
.playingCards label.card {
    cursor: pointer;
}

.playingCards .card.back {
    text-indent: -4000px;
    background-color: #ccc;
}



/*the rest below is table, hand, and deck layout*/
.playingCards ul.table,
.playingCards ul.hand,
.playingCards ul.deck {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.5em 0;
    position: relative;
    clear: both;
}
.playingCards ul.hand {
    margin-bottom: 3.5em;
}
.playingCards ul.table li,
.playingCards ul.hand li,
.playingCards ul.deck li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

.playingCards ul.hand,
.playingCards ul.deck {
    height: 8em;
}
.playingCards ul.hand li,
.playingCards ul.deck li {
    position: absolute;
}
.playingCards ul.hand li {
    bottom: 0;
}
.playingCards ul.hand li:nth-child(1)  { left: 0; }
.playingCards ul.hand li:nth-child(2)  { left: 3em; }
.playingCards ul.hand li:nth-child(3)  { left: 6em; }
.playingCards ul.hand li:nth-child(4)  { left: 9em; }
.playingCards ul.hand li:nth-child(5)  { left: 12em; }
.playingCards ul.hand li:nth-child(6)  { left: 15em; }
.playingCards ul.hand li:nth-child(7)  { left: 18em; }
.playingCards ul.hand li:nth-child(8)  { left: 21em; }
.playingCards ul.hand li:nth-child(9)  { left: 24em; }
.playingCards ul.hand li:nth-child(10) { left: 27em; }
.playingCards ul.hand li:nth-child(11) { left: 30em; }