.StudentLi{
    display: inline-block;
    grid-column: span 12;
    width: 100%;
}

.Student{
    width: 80%; 
    color: #4C49AF;
    background-color: #ffffff; 
    border-radius: 5px; padding: 10px 5px; margin: 0 auto 8px 0;
    transition: background-color 0.25s, color 0.25s;
    display: inline-block;
}

.icon-class {
  margin: 0px -20px;
  padding: 0;
  display: flex;
  position: absolute;
  transition: all 0.25s;
}
.icon-class:hover{
    transform: scale(1.2);
}
.icon-class:active{
    transform: rotate(90deg);
    transform: scale(1.2);
}

a{
    cursor: pointer;
}
.StuPara{
    display: inline-block;
    margin: 0 50% 0 0;
    padding: 0;
    font-size: larger;
    cursor: pointer;
}
.Remove{
    background-color: red;
    color: white;
    display: inline-block;
    border-radius: 10px;
}
.Remove:hover{
    background-color: darkred;
}