.ScoreWrapper{
    margin: 0 0 30px 100px;
    padding: 0;
    /*border: 2px solid greenyellow; temporary for testing*/
    width: fit-content;
    align-items: center;
}
.scorePFP{
    margin: 0 auto;
    display: block;
    width: 90px;
    border: 3px solid #C9C9E7;
    border-radius: 50%;
}
.scoreName{
    color: white;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    display: block;
}
.scoreNum{
    background-color: white;
    color: #4C49AF;
    width: fit-content;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    display: block;
}