.ScoreWrapper{
    margin: 0 0 30px 80px;
    padding: 0;
    /*border: 2px solid greenyellow; temporary for testing*/
    width: fit-content;
    align-items: center;
}
.scorePFP{
    margin: 0 auto;
    display: block;
    border: 3px solid #C9C9E7;
    border-radius: 50%;
}
.scoreName{
    color: white;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    display: block;
}
.scoreNum{
    background-color: white;
    color: #4C49AF;
    width: fit-content;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    display: block;
}

@media (min-width: 1000px){
    .scorePFP{width: 90px;}
    .scoreName{font-size: default;}
    .scoreNum{font-size: default;}
    .playSec{ margin-right: -100px; margin-top: 100px;}
}
@media (min-width: 1600px){
    .scorePFP{width: 120px;}
    .scoreName{font-size: x-large;}
    .scoreNum{font-size: x-large;}
    .playSec{ margin-right: -160px; margin-top: 140px; font-size: larger;}

}