.wrapper{
  margin: 1em auto;
  padding: 4em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.pfp{
grid-column: span 12;
border: 3px solid #C9C9E7;
border-radius: 50%;
margin: auto;
}

.h2StuPro{
  font-weight: bolder;
  grid-column: span 12;
}

/*styling for user email, changing username/password*/
.head3{
  grid-column: span 12;
  margin: 15px 0px 0px;
}
.register{
  color: #C9C9E7; 
}
.logDiv{
  display: block; margin: 15px auto;
}
.logInfo{
  margin: 5px 12px 0; 
  display: inline-block;
}
.logInfo a{
  font-style: italic; 
  color: #C9C9E7; 
  transition: color 0.25s;
}
.logInfo a:hover{
  color: #ffffff;
  text-decoration: underline;
}

/*media queries*/
  @media all and (min-width: 30rem){
    h2{font-size: 30px;}
    h3{font-size: large;}
    .logInfo{grid-column: span 6;}
    .pfp{width: 130px;}
  }
  @media all and (min-width: 60rem){
    h2{font-size: 36px;}
    h3{font-size: x-large;}
    p{font-size: medium;}
    .pfp{width: 150px;}
    .logInfo{grid-column: span 4;}
  }