.WhoAmIWrapper{
    width: 400px;
    height: 150px;
    padding-top: 10%;
    margin: 40px 0px 100px 20%;
    display: inline-block;
    background-color: #0000009f;
    background-size: cover;
    background-position: center;
}