.WhoAmIWrapper{
    width: 40%;
    height: 330px;
    padding: 0;
    margin: 0px;
    margin-left: 20%;
    display: inline-block;
    background-size: cover;
    background-position: center;
    transition: all 0.25s;
}