.PlayWrapper{
    grid-template-columns: repeat(12, 1fr);
    margin: 0;
    padding: 0;
}

.TestNextButton{
    margin: 0 0 12%;
    margin-left: 20px;
    display: inline-block;
    vertical-align: bottom;
}

.seperate{
    display: block;
}