.PlayWrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%; height: 100vh;
}
.ScoreWrapper{
    grid-column: 1;
}
.TimerWrapper{
    grid-column: 12;
}

.TestNextButton{
    margin: 0 0 20%;
    margin-left: 20px;
    display: inline-block;
    vertical-align: bottom;
}



@media (max-width: 1000px) {
    .PlayerUpWrapper{
        display: none !important;
    }
    .PlayerLeftWrapper{
        display: none !important;
    }
    .PlayerRightWrapper{
        display: none !important;
    }
    .PlayWrapper{
        width: 100%;
    }
}