.ScenarioWrapper{
    /*width: 40%;
    height: 330px; media query lower stuff*/
    padding: 0;
    margin: 0px;
    margin-left: 18%;
    display: inline-block;
    background-size: cover;
    background-position: center;
    transition: all 0.25s;
}

@media (min-width: 1000px) {
    .ScenarioWrapper{width: 40%; height:250px;}
}
@media (min-width: 1600px) {
    .ScenarioWrapper{width: 45%; height:300px; margin-top: -150px;}
}