.ScenarioWrapper{
    max-width: 50%;
    max-height: 50%;
    padding: 0;
    margin: auto auto 16%;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: inline-block;
    background-size: cover;
    background-position: center;
    transition: all 0.25s;
}

@media (min-width: 1000px) {
    .ScenarioWrapper{width: 25%; height: 30%;}
}
@media (min-width: 1600px) {
    .ScenarioWrapper{width: 45%; height: 60%; margin-top: -150px;}
}