.PlayerWrapper{
    width: 1200px;
    height: 300px;
    /*border: 2px solid greenyellow; temporary for testing*/
    margin: 0; padding: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: grid;

}
.together{
    display: inline-block;
}

.CardSelected{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
.CardSelected p{
    list-style-type: none;
    background-color: #CD2C7F;
    border-radius: 10px;
    color: white;
    width: fit-content;
    margin: 0 0px 0 20px;
    display: inline;
    padding: 5px 10px;
}

.scoreSec{
    grid-column: span 1;
    grid-row: span 1;
    margin-left: -160px;
    margin-top: 30px;
}

.playingCards{
    grid-column: span 10;
    grid-row: span 1;
    margin: 0;
    padding: 0;
}

.playSec{
    grid-column: span 1;
    grid-row: span 1;
    margin-right: -100px;
}
.PlayButton{
    background-color: #49A186;
    color: white;
    border: 2px solid #5658A2;
}