.PlayerWrapper{
    width: 1000px;
    height: 300px;
    border-radius: 10px;
    /*border: 2px solid greenyellow; temporary for testing*/
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: grid;
    vertical-align: middle;
}
.together{
    display: inline-block;
}

.CardSelected{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
.CardSelected p{
    list-style-type: none;
    background-color: #CD2C7F;
    border-radius: 10px;
    color: white;
    width: fit-content;
    margin: 0 0px 0 20px;
    display: inline;
    padding: 5px 10px;
}

.scoreSec{
    grid-column: span 1;
    grid-row: span 1;
    margin-left: -200px;
    margin-top: -15px;
}

.playingCards{
    grid-column: span 11;
    grid-row: span 1;
}