.PlayerWrapper{
    width: 1000px;
    height: 500px;
    border-radius: 10px;
        /*border: 2px solid greenyellow; just for testing*/
    margin: 0;
    padding: 0;
}

.test{
    margin: 0 22%;
    padding: 0;
    width: 50%;
    text-align: center;
}
.test li{
    list-style-type: none;
    background-color: purple;
    border-radius: 10px;
    color: white;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
}