.PlayerWrapper{
    width: 1000px;
    height: 500px;
    border-radius: 10px;
        /*border: 2px solid greenyellow; just for testing*/
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: grid;
}

.test{
    margin: 0 40%;
    padding: 0;
    width: 50%;
    text-align: center;
}
.test li{
    list-style-type: none;
    background-color: #CD2C7F;
    border-radius: 10px;
    color: white;
    width: 50%;
    margin: 0 auto;
    padding: 5px;
}

.playingCards{
    grid-column: span 9;
    grid-row: span 1;
}

.scoreSec{
    grid-column: span 3;
    grid-row: span 1;
    margin-left: 120%;
}