.PlayerWrapper{
    width: 1200px;
    height: 300px;
    /*border: 2px solid greenyellow; temporary for testing*/
    margin: 0; padding: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: grid;
}

.CardSelected{
    margin: -10px 0 0 0;
    font-size: larger;
    padding: 0;
    width: 100%;
    text-align: center;
}
.CardSelected p{
    list-style-type: none;
    background-color: #CD2C7F;
    border-radius: 10px;
    color: white;
    width: fit-content;
    margin: 0 0 0 20px;
    display: inline;
    padding: 5px 10px;
}

.scoreSec{
    grid-column: span 1;
    grid-row: span 1;
}

.PlayersPlayingCards{
    grid-column: span 10;
    grid-row: span 1;
    margin: 0;
    padding: 0;
}

.playSec{
    grid-column: span 1;
    grid-row: span 1;
}
.PlayButton{
    background-color: #49A186;
    color: white;
    border: 2px solid #5658A2;
}

@media (min-width: 1000px){
    .scoreSec{margin-left: -100px; margin-top: 50px;}
    .playSec{ margin-right: -100px; margin-top: 100px;}
}
@media (min-width: 1600px){
    .scoreSec{margin-left: -150px; margin-top: 55px;
    font-size: x-large;}
    .playSec{margin-top: 130px; font-size: x-large;}

}