.PlayerWrapper{
    width: 1200px;
    height: 300px;
    position: fixed;
    bottom: 0; left: 8%; right: 0;
    margin: 0 auto -20px; padding: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: grid;
}

.CardSelected{
    margin: -20px 0 0 0;
    font-size: larger;
    padding: 0;
    width: 400px;
    
}
.CardSelected p{
    list-style-type: none;
    background-color: #CD2C7F;
    border-radius: 10px;
    color: white;
    width: fit-content;
    margin: 0 0 0 20px;
    display: inline;
    padding: 5px 10px;
}

.scoreSec{
    grid-column: span 1;
    grid-row: span 1;
}

.PlayButton{
    background-color: #49A186;
    color: white;
    border: 2px solid #5658A2;
    position: absolute;
    right: 150px; top: -10%;
    z-index: 10;
}