.AchievementSect{
  max-width: 80%;
  margin: 1em auto;
  padding: 1em;
  color: #4C49AF;
  background-image:  linear-gradient(#e8e6f9, #e8e6f9c1);
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.h2Achieve{
  font-weight: bold;
  grid-column: span 12;
  margin-bottom: 30px;
}


.Achievements{
   grid-column: span 2;
    margin: 0px 30px 20px; padding: 30px 10px 10px;
    background-color: #ffffff;
    filter: drop-shadow(0px 6px 2px);
    border-radius: 10px;
    width: fit-content;
    transition: filter 0.25s ease, transform 0.25s ease;
    align-self: center;
}
.Achievements img{
  width: 100px;
}
.Achievements h3{
  font-size: large;
}
.Achievements:hover{
    
    transform: scale(1.2);
    
    cursor: pointer;
    
}

.pAchieve{
    grid-column: span 12;
    width: 75%;
    margin: 10px auto;
}

